
body,div,p,span,a,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,img,input{margin:0;padding:0;border:0;list-style:none;}
body{color: #666;font-size: 12px;font-family: "microsoft yahei";background: #F6F6F6;}
a{text-decoration: none;color: #666;}
a:hover{text-decoration: none;color: #C80A18;}


#top_bar{width: 100%;height: 30px;border-bottom: 1px solid #DDDDDD;background: #E3E4E5;}
.tb_in{width: 1190px;height: 30px;margin: 0 auto;}
.tb_left{float: left;width: 24px;height: 15px;margin-left: 209px;background: url("../images/top_bar_01.png") no-repeat left center;padding-left: 16px;margin-top: 9px;line-height: 15px;cursor:pointer;}
.tb_right{float: right;width: 619px;height: 30px;line-height: 30px;}
.tb_right ul li{float: left;background: url("../images/top_bar_02.png") no-repeat right center;}
.tb_right li a{margin: 0 13px;}
.tb_right li .long{width: 61px;display: inline-block;background: url("../images/top_bar_03.png") no-repeat right center;}
.tb_right li .lasta{margin: 0 0 0 13px;}
.tb_right .lastli{background: none;}
.tb_right li .nom1{margin: 0;}
.tb_right li .nom2{margin: 0 13px 0 0;color: #F10215;}
.tb_right li .nom2:hover{color: #C80A18;}


#header{width: 1190px;height: 115px;margin: 0 auto;padding-top: 25px;position:relative;}
.header_up{width: 870px;height: 35px;float: right;}
.h_up_l{}
.h_up_l .txt{width: 493px;height: 33px;border: 1px solid #F10215;float: left;padding-left: 5px;color: #989898;font-size: 14px;}
.h_up_l .sub{width: 50px;height: 35px;background: #F10215 url("../images/search.png") no-repeat center 11px;float: left;cursor:pointer;}
.h_up_r{width: 172px;height: 33px;border: 1px solid #E3E4E5;float: right;background: #FFFFFF;line-height: 33px;text-align: center;padding-left: 16px;}
.h_up_r a{background: url("../images/car.png") no-repeat left center;padding-left: 23px;color: #F10215;}
.h_up_r span{background: url("../images/carNum.png");width: 14px;height: 14px;display: inline-block;}

.header_center{width: 500px;height: 30px;float: left;margin-left: 320px;line-height: 30px;}
.header_center ul li{float: left;margin-right: 11px;}
.header_center .current a{color: #F10215;}
.header_center_down{float: left;width: 760px;height: 40px;margin-top: 10px;margin-left: 200px;padding-left: 30px;line-height: 40px;}
.header_center_down ul li{float: left;}
.header_center_down li a{margin-right: 30px;font-size: 16px;font-weight: 700;}
.header_center_down li .teshu{margin-right: 41px;}
.header_center_down ul .fgx1{background: url("../images/nav_bg.png") no-repeat 53px center;}
.header_center_down ul .fgx2{background: url("../images/nav_bg.png") no-repeat 69px center;}
.header_center_down ul .jiabiao{background: url("../images/3m1.png") no-repeat right top;}
.logo{position:absolute;left:0;top:-31px;box-shadow: 0 -16px 14px rgba(0,0,0,.2);}
.redbag{position:absolute;right:0;bottom:10px;}


#content01_bg{width: 100%;height: 494px;background: url("../images/con01_bg.jpg") no-repeat center top;}
#content01{width: 1190px;height: 480px;margin: 0 auto;}
.content01_l{width: 180px;height: 465px;float: left;background: #6C6669;padding-left: 10px;padding-top: 15px;}
.content01_l li{font-size: 14px;height: 30px;line-height: 30px;}
.content01_l li a{color: #fff;}
.content01_l li a:hover{color: #F10215;}

.content01_c{width: 790px;height: 480px;float: left;margin-left: 10px;}
.banner{width: 790px;height: 340px;position:relative;}
.banner .lunbo li{float: left;position:absolute;opacity:0;transition: opacity 1s;}
.banner .lunbo .show{opacity:1;z-index:10px;}
.banner .dians{width: 175px;height: 20px;position:absolute;bottom:20px;left:304px;border-radius:12px;background-color: hsla(0,0%,100%,.3);padding-left: 7px;z-index:11;}
.banner .dians li{float: left;width: 12px;height: 12px;border-radius:100%;background: #fff;margin-right: 10px;margin-top: 4px;}
.banner .dians .last{margin-right: 0;}
.banner .dians .current{background: #DB192A;}
.banner .btn_l{width: 30px;height: 60px;background: rgba(0,0,0,0.1);position:absolute;left:0;top:140px;text-align: center;line-height: 60px;font-size: 24px;color: #ccc;font-weight: lighter;cursor:pointer;display: none;z-index:11;}
.banner .btn_r{width: 30px;height: 60px;background: rgba(0,0,0,0.1);position:absolute;right:0;top:140px;text-align: center;line-height: 60px;font-size: 24px;color: #ccc;font-weight: lighter;cursor:pointer;display: none;z-index:11;}

.banner_under{width: 790px;height: 130px;margin-top: 10px;}
.banner_under .banner_under_l{float: left;width: 390px;height: 130px;}
.banner_under .banner_under_r{float: right;width: 390px;height: 130px;}

.content01_r{width: 190px;height: 480px;float: right;background: #fff;}
.content01_r_top{width: 180px;height: 100px;border-bottom: 1px solid #E6E6E6;padding-left: 10px;padding-top: 15px;}
.content01_r_top .youke{height: 45px;background: url("../images/youke.png") no-repeat left center;padding-left: 60px;line-height: 22px;}
.content01_r_top .youke a{color: #000;}
.content01_r_top .youke a:hover{color: #C80A18;}
.youke_under{width: 158px;height: 24px;margin-top: 15px;}
.youke_under .newpeple{width: 70px;height: 20px;border: 2px solid #E01222;float: left;}
.youke_under .plus{width: 70px;height: 20px;border: 2px solid #E01222;float: right;}
.youke_under a{width: 70px;height: 20px;display: block;text-align: center;line-height: 20px;color: #E01222;}
.youke_under a:hover{color: #fff;background: #E01222;}
.content01_r dl{width: 162px;height: 118px;margin-left: 13px;}
.content01_r dl dt{width: 162px;height: 26px;border-bottom: 1px solid #E6E6E6;margin-bottom: 13px;}
.content01_r dt .cuxiao{float: left;display: block;width: 28px;height: 18px;border-bottom: 2px solid #DB192B;margin-top: 7px;text-align: center;line-height: 18px;}
.content01_r dt .gonggao{float: left;display: block;width: 40px;height: 18px;margin-top: 7px;line-height: 18px;text-align: right;border-left: 1px solid #DFE0E1;margin-left: 10px;}
.content01_r dt .more{float: right;display: block;margin-top: 8px;}
.content01_r dl dd{line-height: 22px;}
.content01_r ul{width: 190px;height: 210px;}
.content01_r ul li{width: 190px;height: 69px;border-top: 1px solid #E7E7E7;}
.content01_r ul a{width: 46px;height: 24px;border-left: 1px solid #E7E7E7;display: block;float: left;text-align: center;padding-top: 45px;}
.content01_r ul .a01{background: url("../images/icon01.png") no-repeat 13px 15px;}
.content01_r ul .a02{background: url("../images/icon02.png") no-repeat 13px 15px;}
.content01_r ul .a03{background: url("../images/icon03.png") no-repeat 13px 15px;}
.content01_r ul .a04{background: url("../images/icon04.png") no-repeat 13px 15px;}
.content01_r ul .a05{background: url("../images/icon05.png") no-repeat 13px 15px;}
.content01_r ul .a06{background: url("../images/icon06.png") no-repeat 13px 15px;}
.content01_r ul .a07{background: url("../images/icon07.png") no-repeat 13px 15px;}
.content01_r ul .a08{background: url("../images/icon08.png") no-repeat 13px 15px;}
.content01_r ul .a09{background: url("../images/icon09.png") no-repeat 13px 15px;}
.content01_r ul .a10{background: url("../images/icon10.png") no-repeat 13px 15px;}
.content01_r ul .a11{background: url("../images/icon11.png") no-repeat 13px 15px;}
.content01_r ul .a12{background: url("../images/icon12.png") no-repeat 13px 15px;}
.content01_r ul .li01{background: url("../images/jian.png") no-repeat 81px top;}
.content01_r ul .li03{background: url("../images/quan.png") no-repeat right top;}
.content01_r .wuxian{width: 190px;height: 36px;background: #60575A;line-height: 36px;color: #fff;}
.content01_r .wuxian p{float: left;background: url("../images/wuxian.png") no-repeat left center;width: 48px;padding-left: 16px;margin-left: 63px;}


#content02{width: 1190px;height: 301px;margin: 0 auto;}
.content02_up{width: 1190px;height: 51px;background: url("../images/con02_top.png") no-repeat left top;}
.con02_up_l{width: 306px;height: 51px;float: left;}
.con02_up_l .jiaobiao{width: 28px;height: 28px;background: url("../images/sprite_index@1x.png") no-repeat -194px -52px;float: left;}
.con02_up_l .miaosha{width: 158px;height: 51px;float: left;}
.con02_up_l .miaosha span{width: 46px;height: 51px;float: left;background: url("../images/sprite_index@1x.png") no-repeat 0 -34px;}
.con02_up_l .miaosha .p01{float: left;line-height: 51px;font-size: 26px;font-weight: lighter;color: #fff;}
.con02_up_l .p02{width: 120px;height: 16px;line-height: 16px;float: left;margin-top: 19px;background: url("../images/p02.png") no-repeat right center;}
.con02_up_l .p02 a{float: left;width: 120px;height: 16px;font-size: 14px;color: #fff;}
.con02_up_r{width: 290px;height: 51px;float: right;}
.con02_up_r .p01{float: left;width: 62px;color: #fff;font-size: 14px;margin-top: 20px;}
.con02_up_r .time{float: left;width: 129px;height: 37px;margin-top: 8px;}
.con02_up_r .time li{float: left;width: 12px;height: 37px;}
.con02_up_r li .dian01{width: 4px;height: 4px;background: #440106;margin-top: 12px;margin-left: 4px;border-radius: 100%;}
.con02_up_r li .dian02{width: 4px;height: 4px;background: #440106;margin-top: 7px;margin-left: 4px;border-radius: 100%;}
.con02_up_r .time .box{width: 35px;height: 37px;background: #440106;border-radius:3px;font-size: 22px;color: #F90013;text-align: center;line-height: 37px;font-weight: bold;}
.con02_up_r .p02{float: left;width: 90px;color: #fff;font-size: 14px;margin-top: 20px;margin-left: 7px;}



.content02_down{width: 1165px;height: 225px;padding: 12px 10px 13px 15px;background: #fff;}
.content02_down dl{width: 184px;height: 225px;border-right: 1px solid #E7E7E7;float: left;margin-right: 15px;}
.content02_down dt a{height: 130px;width: 130px;float: left;margin-left: 19px;margin-top: 15px;transition: transform 0.4s;}
.content02_down dt a:hover{transition: transform 0.4s;transform: translateY(-10px);}
.content02_down dt .touying{float: left;width: 130px;height: 20px;background: url("../images/sprite_index@1x.png") no-repeat -20px 0;margin-left: 20px;position:absolute;left:0px;top:130px;}
.content02_down .lastdl{margin-right: 0;}
.content02_down .last{float: right;width: 180px;height: 225px;display: block;}
.content02_down dl dt{margin-bottom: 16px;width: 184px;height: 150px;position:relative;}
.content02_down dl p{font-size: 18px;font-weight: bold;color: #F30214;line-height: 30px;}
.content02_down dd a{width: 170px;display: list-item;}
.content02_down .qian{font-size: 12px;font-weight: normal;}
.content02_down .xian{font-size: 12px;text-decoration: line-through;color: #999999;font-weight: normal;}


#content03{width: 100%;height: 590px;padding-top: 40px;background: url("../images/con03_bg.png") no-repeat center top;cursor:pointer;}
.content03_in{width: 1000px;height: 577px;background: url("../images/con03_01.png") no-repeat left top;margin: 0 auto;padding-left: 190px;}
.content03_in ul li{width: 1000px;height: 225px;margin-bottom: 10px;}
.content03_in ul .lastli{height: 107px;margin-bottom: 0;}
.content03_in li a{float: left;margin-right: 10px;}
.content03_in li a:hover{transition: opacity 0.5s;opacity: 0.5;}


#content04{width: 1190px;height: 444px;margin: 31px auto 0;}
.content04_l{float: left;width: 390px;height: 444px;background: #fff;}
.content04_l_top{width: 370px;height: 55px;background: #4897A0;font-size: 14px;color: #fff;padding-right: 20px;}
.content04_l_top .jiaobiao{float: left;width: 20px;height: 20px;background: url("../images/jiaobiao01.png") no-repeat left top;}
.content04_l_top .p01{float: left;line-height: 52px;font-size: 26px;font-weight: lighter;margin-left: 10px;}
.content04_l_top a{float: right;color: #fff;height: 16px;line-height: 15px;margin-top: 22px;}
.content04_l_top a span{float: right;width: 16px;height: 16px;background: url("../images/sprite_index@1x.png") no-repeat -154px -40px;margin-left: 6px;}
.content04_l ul{width: 390px;height: 390px;padding: 10px 10px 17px 10px;}
.content04_l ul li{float: left;width: 170px;height: 105px;background: #fff;border-bottom: 1px solid #E7E7E7;border-right: 1px solid #E7E7E7;padding-top: 15px;padding-left: 15px;position:relative;}
.content04_l li a{float: left;width: 80px;height: 40px;font-size: 16px;color: #4897A0;position:absolute;z-index:1;}
.content04_l li .imgs{width: 80px;height: 80px;margin-top: 15px;transition: transform 0.4s ease-out,-webkit-transform 0.4s ease-out,-moz-transform 0.4s ease-out;z-index:0;position:absolute;right:10px;top:10px;}
.content04_l li .imgs:hover{transform: translateX(-7px); transition: transform 0.4s ease-out,-webkit-transform 0.4s ease-out,-moz-transform 0.4s ease-out;}
.content04_l .nobdr{border-right: none;}
.content04_l .nobdb{border-bottom: none;}

.content04_c{float: left;width: 390px;height: 444px;margin: 0 10px;}
.content04_c .content04_l_top{background: #772555;}
.content04_c .content04_l_top .jiaobiao{background: url("../images/jiaobiao02.png") no-repeat left top;}
.content04_c ul li{height: 213px;border-bottom: none;}
.content04_c ul{height: 222px;}
.content04_c .ditu{width: 370px;height: 130px;display: block;margin-left: 10px;}
.content04_c li .imgs{width: 140px;height: 120px;left:23px;top:80px;}
.content04_c li a{left:22px;color:#8B3A6D;}
.content04_c li .a02{top:40px;font-size: 12px;color: #666;}
.content04_c .xbox{width: 19px;height: 3px;background: #8B3A6D;margin-top: 65px;margin-left: 8px;} 

.content04_r{float: left;width: 390px;height: 444px;position: relative;}
.content04_r .content04_l_top{background: #E66805;}
.content04_r .content04_l_top .jiaobiao{background: url("../images/jiaobiao03.png") no-repeat left top;}
.content04_r ul{}
.content04_r li{width: 122px;height: 166px;}
.content04_r .content04_r_bar{width: 374px;height: 21px;margin: 0 auto;padding: 5px 0;border-bottom: 1px solid #d2d1d1;position: relative;}
.content04_r .content04_r_bar a{width: 74px;line-height: 18px;float: left;text-align: center;border-right: 1px solid #d2d1d1;font-size: 14px;}
.content04_r .content04_r_bar .lasta{border-right: none;}
.content04_r .content04_r_bar .dongxian{width: 60px;height: 3px;background: #F10214;position:absolute;left:0;top:29px;transition: left 0.4s;}
.content04_r .content04_r_nr{position: relative;width: 368px;height: 334px;margin-left: 10px;margin-top: 10px;}
.content04_r .content04_r_nr .hengxian{width: 368px;height: 1px;background: #E7E7E7;position:absolute;left:0;top:167px;}
.content04_r .content04_r_nr .shuxian01{width: 1px;height: 334px;background: #E7E7E7;position:absolute;left:122px;top:0px;}
.content04_r .content04_r_nr .shuxian02{width: 1px;height: 334px;background: #E7E7E7;position:absolute;right:122px;top:0px;}
.content04_r .content04_r_nr a{width: 122px;height: 167px;float: left;position: relative;}
.content04_r_nr a img{margin-top: 12px;margin-left: 11px;}
.content04_r_nr a .mingci{width: 30px;height: 40px;background: url("../images/sprite_index@1x.png") no-repeat -100px -100px;position:absolute;left:11px;top:12px;text-align: center;line-height: 35px;color: #fff;font-size: 22px;}
.content04_r_nr a p{height: 32px;text-align: left;padding: 0 11px;line-height: 16px;margin-top: 10px;word-wrap: break-word;word-break: break-all;}
.content04_r_nr .phb01 .mingci{background-position: -104px -40px;}
.content04_r_nr .phb02 .mingci{background-position: -50px -100px;}
.content04_r_nr .phb03 .mingci{background-position: 0px -100px;}
.content04_r .content04_r_nr{position: absolute;display: none;}
.content04_r .current{display: block;}


#coupon{width: 1190px;height: 215px;margin: 0 auto;margin-top: 30px;background: #FFFFFF;color: #fff;}
.coupon_in{width: 1190px;height: 215px;}
.coupon_in dt{float: left;width: 140px;height: 157px;background: #EA3524;padding: 25px 25px 33px 25px;}
.coupon_in dt h3{width: 100%;height: 36px;line-height: 36px;font-size: 30px;font-weight: lighter;}
.coupon_in dt .span01{display: block;margin-top: 8px;margin-bottom: 20px;width: 55px;height: 3px;background: #fff;}
.coupon_in dt .p01{height: 20px;line-height: 20px;}
.coupon_in dt .p02{height: 20px;line-height: 20px;}
.coupon_in dt a{display: block;margin-top: 20px;padding: 2px 35px 4px 15px;
height: 20px;border: 2px solid #fff;line-height: 20px;color: #fff;position:relative;}
.coupon_in a .span02{background: url("../images/sprite_index@1x.png") no-repeat -154px -40px;position: absolute;right: 15px;top: 5px;width: 16px;height: 16px;}
.coupon_in dd{float: left;padding: 10px 0 10px 15px;}
.coupon_in .last .cp_con{border: none;}
.coupon_in dd .cp_con{width: 184px;height: 195px;border-right: 1px solid #E7E7E7;overflow: hidden;position:relative;}
.coupon_in dd .cp_con_txt{width: 100px;height: 177px;border-top: 3px solid #E93524;margin-top: 15px;position:absolute;left: 0;top:0;z-index:1;background: #fff;}
.coupon_in .cp_con_txt .p01{margin-top: 7px;height: 36px;line-height: 36px;font-size: 34px;font-weight: bold;color: #F10214;}
.cp_con_txt .p01 span{margin-right: 3px;font-size: 12px;}
.cp_con_txt .p02 {margin: 3px;height: 36px;line-height: 18px;color: #e93524;}
.cp_con_txt .p03{padding: 15px 10px;width: 80px;height: 36px;background: #e7e7e7  url("../images/cp_bg.jpg") repeat-x 0 0;color: #666666;}
.cp_con_txt a{width: 100%;height: 26px;background: #e93524;line-height: 26px;text-align: center;color: #fff;display: block;}

.coupon_in .cp_con .cpimg{width: 140px;height: 140px;position:absolute;right:15px;top:25px;transition:transform 0.5s;z-index:0;}
.coupon_in .cp_con .cpimg:hover{transform:translateX(15px);transition:transform 0.5s;}


#cen_bar{width: 100%;height: 100px;background: #E0E0E0;margin-top: 30px;}
.cen_bar_in{width: 1190px;height: 100px;margin: 0 auto;}
.cen_bar_in a{float: left;}
.cen_bar_in a:hover{opacity:0.6;transition:opacity 0.3s}


#content05{width: 1190px;height: 445px;margin: 0 auto;}
.con05_up{width: 1190px;height: 85px;background: url("../images/con05_bg.png") repeat-x 0 46px;text-align: center;}
.con05_up h3{padding: 0 50px;background-color: #f6f6f6;font-weight: 400;font-size: 26px;color: #333;display: inline;line-height: 85px;}
.con05_down{width: 1190px;height: 360px;color: #fff;}
.con05_down li{float: left;width: 390px;height: 170px;background: pink;margin-right: 10px;margin-bottom: 10px;overflow: hidden;position:relative;}
.con05_down .nomr{margin-right: 0;}
.con05_down li a{display: block;transition:transform 0.3s;}
.con05_down li a:hover{transform:translateX(-10px);transition:transform 0.3s;}
.con05_down .textbox{width: 100px;height: 85px;background: #D88E28;float: left;position:absolute;left:0;top:0;opacity:0.9;padding: 45px 20px 40px 20px;}
.con05_down .textbox02{background: #498C95;}
.con05_down .textbox03{background: #5D5566;}
.con05_down .textbox04{background: #B04942;}
.con05_down .textbox05{background: #6E366E;}
.con05_down .textbox06{background: #866450;}
.con05_down .textbox h3{width: 100px;height: 40px;border-top: 2px solid #fff;border-bottom: 2px solid #fff;font-size: 20px;line-height: 40px;text-align: center;font-weight: normal;}
.con05_down .textbox p{margin-top: 8px;height: 32px;line-height: 16px;font-size: 14px;}


#cen_bar2{width: 100%;height: 100px;background: #E0E0E0;margin-top: 30px;}


#content06{width: 1190px;margin: 0 auto;overflow: hidden;}
.samebox{width: 590px;height: 523px;float: left;color: #fff;}
.samebox .sb_top{width: 565px;height: 58px;background: #984576;padding-left: 25px;}
.sb_top h3{height: 58px;line-height: 58px;float: left;font-size: 22px;font-weight: lighter;}
.sb_top ul{float: right;width: 420px;height: 26px;margin-top: 16px;}
.sb_top ul a{float: left;width: 70px;height: 24px;border: 1px solid rgba(255,255,255,0.3);margin-right: 10px;background: rgba(255,255,255,0.2);color: #fff;text-align: center;line-height: 24px;}
.sb_top ul a:hover{border: 1px solid rgba(255,255,255,1.00)}
.sb_down{width: 570px;height: 445px;background: #fff;padding: 10px;position:relative;}
.sb_down .sb_down_l{width: 183px;height: 260px;float: left;overflow: hidden;margin-right: 10px;}
.sb_down .sb_down_l a{width: 193px;height: 260px;display: block;transition:transform 0.2s;}
.sb_down .sb_down_l a:hover{transform:translateX(-10px);transition:transform 0.2s;}
.sb_down_r{float: left;width: 376px;height: 260px;position:relative;overflow: hidden;}
.sb_down_r .hengxian{width: 500px;height: 1px;background: #e6e6e6;display: block;position:absolute;left:0;top:130px;z-index:3}
.sb_down_r .shuxian{width: 1px;height: 500px;background: #e6e6e6;display: block;position:absolute;left:188px;top:0px;z-index:3}
.sb_down_r .sbdr01{width: 188px;height: 130px;float: left;position:relative;}
.sb_down_r .sbdr01 .p01{color: #974676;position: absolute;top: 25px;left: 25px;font-size: 14px;z-index:2;}
.sb_down_r .sbdr01 .p02{position: absolute;top: 50px;left: 25px;font-size: 12px;color: #666;z-index:2;max-width: 50px;}
.sb_down_r .sbdr01 .a01{position: absolute;bottom: 10px;right: 5px;display: block;width: 100px;height: 100px;transition:transform 0.4s;}
.sb_down_r .sbdr01 .a01:hover{transform:translateX(-6px);transition:transform 0.4s;}
.sb_down_uder{width: 183px;height: 130px;float: left;margin-right: 10px;margin-top: 10px;overflow: hidden;}
.sb_down .nomr{margin-right: 0;}
.sb_down_uder a{transition:transform 0.4s;display: block;}
.sb_down_uder a:hover{transition:transform 0.4s;transform:translateX(-10px);}
.sb_down ul{float: left;width: 569px;height: 20px;margin-top: 17px;}
.sb_down ul li{float: left;width: 94px;height: 20px;border-right: 1px solid #DEDFE0;}
.sb_down ul a{width: 94px;height: 30px;float: left;margin-top: -5px;}
.sb_down ul a:hover{opacity:0.7;}
.sb_down ul .last{border-right: none;}

.samebox02{margin-left: 10px;}
.samebox02 .sb_top{background: #CA365A;}
.samebox02 .sbdr01 .p01{color: #CA365A;}
.samebox03{margin-top: 30px;}
.samebox03 .sb_top{background: #744E8B;}
.samebox03 .sbdr01 .p01{color: #744E8B;}
.samebox04{margin-left: 10px;margin-top: 30px;}
.samebox04 .sb_top{background: #5A698F;}
.samebox04 .sbdr01 .p01{color: #5A698F;}
.samebox05 .sb_top{background: #4589A8;width: 582px;}
.samebox05 .sb_top ul{width: 410px;}
.samebox05 .sb_down .zhongxian{width: 1px;height: 400px;position:absolute;right: -5px;top:10px;background: #e6e6e6;display: block;z-index:3;}
.samebox05 .sb_down .logoxian{width: 1px;height: 20px;position:absolute;right: -5px;bottom:18px;background: #e6e6e6;display: block;z-index:3;}
.samebox05 .sbdr01 .p01{color: #4589A8;}
.samebox05{width: 600px;background: #fff;margin-top: 30px;}
.samebox06 .sb_top{background: #4589A8;padding: 0px;width: 595px;}
.samebox06 .sbdr01 .p01{color: #4589A8;}
.samebox06{margin-top: 30px;}
.samebox06 .sb_top ul{width: 99%;}
.samebox07 .sb_top{background: #36A7A6;}
.samebox07 .sbdr01 .p01{color: #36A7A6;}
.samebox08 .sb_top{background: #528A79;}
.samebox08 .sbdr01 .p01{color: #528A79;}


#cen_bar3{width: 100%;height: 100px;background: #E0E0E0;margin-top: 30px;}


#content06_2{width: 1190px;margin: 0 auto;overflow: hidden;}
.sameboxAichi .sb_top{background: #ECB227;}
.sameboxAichi .sbdr01 .p01{color: #ECB227;}
.sameboxAibaobao .sb_top{background: #E3663E;}
.sameboxAibaobao .sbdr01 .p01{color: #E3663E;}
.sameboxAijia .sb_top{background: #A1643F;}
.sameboxAijia .sbdr01 .p01{color: #A1643F;}
.sameboxAiyuedu .sb_top{background: #715A53;}
.sameboxAiyuedu .sbdr01 .p01{color: #715A53;}
.sameboxAiche .sb_top{background: #844E4E;}
.sameboxAiche .sbdr01 .p01{color: #844E4E;}

.sameboxShenghuo{width: 390px;}
.sameboxShenghuo .sb_top{width: 365px;}
.sameboxShenghuo .sb_top ul{width: 256px;}
.sameboxShenghuo .sb_down{width: 370px;}
.sameboxShenghuo .sb_down_uder{width: 183px;}
.sameboxShenghuo .sb_down_r{width: 177px;}
.sameboxShenghuo .sb_down .nomr{width: 177px;}
.sameboxShenghuo .sb_down_r .sbdr01 .a01{right:10px;}

.sameboxAiyouxi .sb_top{background: #5E5D9A;}
.sameboxAiyouxi .sbdr01 .p01{color: #5E5D9A;}
.sameboxLxing .sb_top{background: #50789A;}
.sameboxLxing .sbdr01 .p01{color: #50789A;}
.sameboxJinrong .sb_top{background: #516B50;}
.sameboxJinrong .sbdr01 .p01{color: #516B50;}


#goutese{width: 1190px;margin: 0 auto;overflow: hidden;}
.goutese_up li{float: left;width: 190px;height: 140px;background: pink;margin-right: 10px;overflow: hidden;position:relative;}
.goutese_up .lastli{margin-right: 0;}
.goutese_up li a{transition: transform 0.3s;display: block;}
.goutese_up li a:hover{transition: transform 0.3s;transform:translateX(-10px);}
.goutese_left{width: 85px;height: 130px;background: #7E6285;opacity:0.9;position:absolute;left:0;top:0;padding: 5px;color: #fff;}
.goutese_left h3{height: 40px;line-height: 40px;text-align: center;border-top: 2px solid #fff;border-bottom: 2px solid #fff;margin-top: 27px;font-weight: lighter;font-size: 20px;}
.goutese_left p{margin-top: 10px;}
.goutese_up .li02 .goutese_left{background: #CF4040;}
.goutese_up .li03 .goutese_left{background: #539A6F;}
.goutese_up .li04 .goutese_left{background: #DC6A50;}
.goutese_up .li05 .goutese_left{background: #916C57;}
.goutese_up .last .goutese_left{background: #5D90B6;}


#cen_bar4{width: 100%;height: 100px;background: #E0E0E0;margin-top: 30px;}


#content07{width: 1190px;margin: 0 auto;overflow: hidden;}
.con07_nr li{float: left;width: 1190px;height: 315px;margin-bottom: 10px;}
.con07_nr li a{float: left;width: 220px;height: 305px;background: #fff;border: 1px solid #fff;padding: 4px;margin-right: 10px;}
.con07_nr li a:hover{border: 1px solid #F10215;}
.con07_nr a .p01{width: 195px;text-align: left;margin-bottom: 5px;height: 35px;margin-left: 12px;margin-top: 10px;overflow: hidden;}
.con07_nr a .p02{text-align: left;font-size: 16px;color: #F10215;}
.con07_nr a .p02 span{font-size: 12px;margin-left: 12px;}
.con07_nr .lasta{margin-right: 0;}


#footer{width: 100%;height: 500px;background: #EAEAEA;margin-top: 30px;}
.foot_up{width: 100%;height: 42px;border-bottom: 1px solid #DEDEDE;padding: 30px 0;}
.foot_up_in{width: 1190px;height: 42px;margin: 0 auto;}
.foot_up_in li{float: left;width: 261px;height: 42px;padding-left: 36px;}
.foot_up_in li h4{width: 162px;height: 42px;color: #444;font-size: 18px;line-height: 42px;background: url("../images/footer_bg.png") no-repeat left top;padding-left: 45px;}
.foot_up_in .li02 h4{background-position: 0 -42px;}
.foot_up_in .li03 h4{background-position: 0 -85px;}
.foot_up_in .li04 h4{background-position: 0 -128px;}
.foot_down{width: 1190px;height: 200px;border-bottom: 1px solid #E1E1E1;margin: 0 auto;}
.foot_down dl{width: 198px;float: left;margin-top: 15px;}
.foot_down dl dt{font-size: 14px;font-weight: bold;line-height: 34px;}
.foot_down dl dd{line-height: 22px;}
.foot_down .last{width: 200px;height: 150px;background: url("../images/footer_bg2.png") no-repeat 0 0;}
.foot_down .last dt{text-align: center;margin-bottom: 7px;}
.foot_down .last dd{line-height: 18px;float: right;}
.foot_under{width: 1190px;padding-top: 15px;text-align: center;margin: 0 auto;}
.foot_under .p01{text-align: center;}
.foot_under .p01 span{color: #ccc;padding: 0 7px;}
.copyright{width: 1190px;height: 85px;margin: 0 auto;padding: 10px 0;line-height: 22px;color: #999;}
.copyright span{color: #ccc;margin: 0 10px;}
.anquan{width: 920px;height: 36px;padding-left: 270px;}
.anquan a{float: left;width: 103px;height: 32px;margin: 0 3px;background: url("../images/footer_bg2.png") no-repeat;}
.anquan .a01{background-position: 0 -151px;}
.anquan .a02{background-position: -104px -151px;}
.anquan .a03{background-position: 0 -184px;}
.anquan .a04{background-position: -104px -184px;}
.anquan .a05{background-position: 0 -217px;}
.anquan .a06{background-position: -104px -217px;}



